$header-color: #44a5cc;
$nav-color: #666666;
$dropdown-color: #3d94b7;
body {
  margin: 0;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border: none;
  padding: 0;
  outline: none;
  border-radius: 0;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
button:hover {
  color: inherit !important;
}
.form-control:focus {
  border-color: grey;
  box-shadow: none;
}
.dropdown-item:hover,
.dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: $nav-color;
}
@import "./layout.scss";
@import "./AccountReceivables.scss";
